{% extends 'index.html' %}
     {% block content %}
     <br> <button class="btn btn-primary" onclick="history.back()">Go back!</button><h1>Badnagar Mandi Bhav!</h1> <br><table border="1" cellspacing="0" id="cphBody_GridView1" rules="all" style="width: 76.2139%; height: 395px;">
<tbody>
<tr style="height: 23px;">
<td style="background-color: #ff0000; width: 26.0504%; height: 34px; text-align: center; border-style: solid; border-color: #000000;" width="126"><strong><span style="color: #ffffff;">फ</span><span style="color: #ffffff;">सल</span></strong></td>
<td style="background-color: #ff0000; width: 25.4202%; height: 34px; text-align: center; border-style: solid; border-color: #000000;" width="122"><strong><span style="color: #ffffff;">न्यूनतम भाव</span></strong></td>
<td style="background-color: #ff0000; width: 24.5798%; height: 34px; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong><span style="color: #ffffff;">अधिकतम भाव</span></strong></td>
<td style="background-color: #ff0000; width: 21.8487%; height: 34px; text-align: center; border-style: solid; border-color: #000000;" width="101"><strong><span style="color: #ffffff;">मॉडल भाव</span></strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>गेहूं </strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>1525</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>1950</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>1835</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>चना</strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>4491</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>4771</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>4650</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>डॉलर चना</strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>4400</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>8011</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>7410</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>मटर</strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>3500</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>7300</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>5570</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>मेथीदाना</strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>5900</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>6201</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>6170</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>मसूर </strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>5586</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>5703</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>5682</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>लहसुन </strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>2514</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>5500</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>3920</strong></td>
</tr>
<tr>
<td style="width: 26.0504%; text-align: center; border-style: solid; border-color: #000000;" width="117"><strong>सोयाबीन</strong></td>
<td style="width: 25.4202%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>4022</strong></td>
<td style="width: 24.5798%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>7221</strong></td>
<td style="width: 21.8487%; text-align: center; border-style: solid; border-color: #000000;" width="64"><strong>7011</strong></td>
</tr>
</tbody>
</table>{% endblock %}