{% extends 'index.html' %}
     {% block content %}

     <br> <h1> जानिये सभी मंडियों के भाव </h1> <br>
     <p>आपका MandiBhav में स्वागत है! यह वेबसाइट और एप्लीकेशन किसान भाइयो की सहायता के लिए बनाई | आप सभी मंडियों के रोजाना भाव अब अपने मोबाइल में आसानी से देख सकते है | </p>
     <div class="container">
        <div class="row">
            <div class="col-sm-3"  style="padding:5px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">नीमच मंडी के भाव</h5>
                  <p class="card-text">
                    नीमच मंडी के भाव जाने के लिए निचे दिये गये बटन को दबाये 
                  </p>
                  <a href="/neemuch" class="btn btn-primary">नीमच भाव </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="padding:5px;">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">मंदसोर मंडी के भाव</h5>
                  <p class="card-text">
                      मंदसोर मंडी के भाव जाने के लिए निचे दिये गये बटन को दबाये 
                  </p>
                  <a href="/mandsore" class="btn btn-primary">मंदसोर भाव</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="padding:5px;">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">बडनगर मंडी के भाव</h5>
                    <p class="card-text">
                        बडनगर मंडी के भाव जाने के लिए निचे दिये गये बटन को दबाये 
                    </p>
                    <a href="/badnagar" class="btn btn-primary">बडनगर भाव</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3" style="padding:5px;">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">इंदौर मंडी के भाव</h5>
                    <p class="card-text">
                        इंदौर मंडी के भाव जाने के लिए निचे दिये गये बटन को दबाये
                    </p>
                    <a href="/indore" class="btn btn-primary">इंदौर मंडी भाव</a>
                  </div>
                </div>
              </div>
          </div>
     </div>

     {% endblock %}