{% extends 'index.html' %}
     {% block content %}
     <br> <button class="btn btn-primary" onclick="history.back()">Go back!</button><h1>Indore Mandi Bhav!</h1> <br><table style="width: 68.2262%; height: 412px;">
<tbody>
<tr style="height: 63px;">
<td style="height: 45px; width: 28.9277%; background-color: #13a100; text-align: center; border-style: solid; border-color: #000000;" width="110"><strong><span style="color: #ffffff;"> फसल</span></strong></td>
<td style="height: 45px; width: 17.8696%; background-color: #13a100; text-align: center; border-style: solid; border-color: #000000;" width="146"><strong><span style="color: #ffffff;">न्यूनतम </span><span style="color: #ffffff;">भाव </span></strong></td>
<td style="height: 45px; width: 17.982%; background-color: #13a100; text-align: center; border-style: solid; border-color: #000000;" width="121"><strong><span style="color: #ffffff;">अधिकतम भाव</span></strong></td>
<td style="width: 18.4948%; background-color: #13a100; text-align: center; border-style: solid; border-color: #000000; height: 45px;"><strong><span style="color: #ffffff;">मॉडल भाव </span></strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; height: 23px; text-align: center; border-style: solid; border-color: #000000;"><strong>डॉलर चना</strong></td>
<td align="right" style="width: 17.8696%; height: 23px; text-align: center; border-style: solid; border-color: #000000;"><strong>3000</strong></td>
<td style="width: 17.982%; height: 23px; text-align: center; border-style: solid; border-color: #000000;"><strong>8630</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; height: 23px; text-align: center; border-style: solid; border-color: #000000;"><strong>गेहु</strong></td>
<td align="right" style="width: 17.8696%; height: 23px; text-align: center; border-style: solid; border-color: #000000;"><strong>1000</strong></td>
<td style="width: 17.982%; height: 23px; text-align: center; border-style: solid; border-color: #000000;"><strong>2131</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><b>–</b></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>चना मौसमी</strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>1320</strong></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>5580</strong></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 23px;"><strong>सोयाबीन</strong></td>
<td style="width: 17.8696%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>2450</strong></td>
<td style="width: 17.982%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>7220</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>हरा चना </strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>मक्का </strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 23px;"><strong>मसूर</strong></td>
<td style="width: 17.8696%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>5365</strong></td>
<td style="width: 17.982%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>5365</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 23px;"><strong>मूंग</strong></td>
<td style="width: 17.8696%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>5310</strong></td>
<td style="width: 17.982%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>5950</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>  उड़द</strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>4050</strong></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>4050</strong></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 23px;"><strong>बटला </strong></td>
<td style="width: 17.8696%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>2030</strong></td>
<td style="width: 17.982%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>4700</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>मैथी</strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>तुअर </strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>4930</strong></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>4930</strong></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 28px;"><strong>धनिया </strong></td>
<td style="width: 17.8696%; text-align: center; height: 28px; border-style: solid; border-color: #000000;"><strong>6240</strong></td>
<td style="width: 17.982%; text-align: center; height: 28px; border-style: solid; border-color: #000000;"><strong>7100</strong></td>
<td style="width: 18.4948%; text-align: center; height: 28px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 24px;"><strong>मिर्ची </strong></td>
<td style="width: 17.8696%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>5200</strong></td>
<td style="width: 17.982%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>11200</strong></td>
<td style="width: 18.4948%; text-align: center; height: 24px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 10px;"><b>सरसों </b></td>
<td style="width: 17.8696%; text-align: center; height: 10px; border-style: solid; border-color: #000000;"><strong>5600</strong></td>
<td style="width: 17.982%; text-align: center; height: 10px; border-style: solid; border-color: #000000;"><strong>5980</strong></td>
<td style="width: 18.4948%; text-align: center; height: 10px; border-style: solid; border-color: #000000;"></td>
</tr>
<tr style="height: 23px;">
<td style="width: 28.9277%; text-align: center; border-style: solid; border-color: #000000; height: 23px;"><b>आमचूर </b></td>
<td style="width: 17.8696%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>4180</strong></td>
<td style="width: 17.982%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>6800</strong></td>
<td style="width: 18.4948%; text-align: center; height: 23px; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
</tbody>
</table>{% endblock %}