{% extends 'index.html' %}
     {% block content %}
     <br> <button class="btn btn-primary" onclick="history.back()">Go back!</button><h1>Indore Mandi Bhav!</h1> <br><table style="width: 72.9488%; height: 555px;">
<tbody>
<tr style="height: 63px;">
<td style="height: 59px; width: 29.426%; background-color: #13a100; border-style: solid; border-color: #000000; text-align: center;" width="110"><strong><span style="color: #ffffff;"> फसल</span></strong></td>
<td style="height: 59px; width: 17.3713%; background-color: #13a100; border-style: solid; border-color: #000000; text-align: center;" width="146"><strong><span style="color: #ffffff;">न्यूनतम </span><span style="color: #ffffff;">भाव</span></strong></td>
<td style="height: 59px; width: 17.982%; background-color: #13a100; border-style: solid; border-color: #000000; text-align: center;" width="121"><strong><span style="color: #ffffff;">अधिकतम भाव</span></strong></td>
<td style="width: 18.4948%; background-color: #13a100; height: 59px; border-style: solid; border-color: #000000; text-align: center;"><strong><span style="color: #ffffff;">मॉडल भाव</span></strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>सरसों </strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 29.426%; height: 22px; border-style: solid; border-color: #000000; text-align: center;"><strong>सोयाबीन</strong></td>
<td style="width: 17.3713%; height: 22px; border-style: solid; border-color: #000000; text-align: center;"><strong>1800</strong></td>
<td style="width: 17.982%; height: 22px; border-style: solid; border-color: #000000; text-align: center;"><strong>5545</strong></td>
<td style="width: 18.4948%; height: 22px; border-style: solid; border-color: #000000; text-align: center;"><strong>5400</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 29.426%; height: 21px; border-style: solid; border-color: #000000; text-align: center;"><strong>गेहु </strong></td>
<td style="width: 17.3713%; height: 21px; border-style: solid; border-color: #000000; text-align: center;"><strong>2100</strong></td>
<td style="width: 17.982%; height: 21px; border-style: solid; border-color: #000000; text-align: center;"><strong>2966</strong></td>
<td style="width: 18.4948%; height: 21px; border-style: solid; border-color: #000000; text-align: center;"><strong>2816</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 23px;"><strong>गेहू सुजाता</strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 23px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 23px;"></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 23px;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>ज्वार</strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>मक्का </strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>1985</strong></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>2083</strong></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>2051</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>बाजरा</strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>डॉलर चना</strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>3255</strong></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>12875</strong></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>चना देशी</strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>3600</strong></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>4980</strong></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>4695</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 21px;"><strong>हरा चना</strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 21px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 21px;"></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 21px;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.3713%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.982%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong><a href="https://ekisan.net/wp-content/uploads/2019/05/logo-black.png"><img alt="ekisan" class="alignnone wp-image-387" height="37" loading="lazy" sizes="(max-width: 107px) 100vw, 107px" src="https://ekisan.net/wp-content/uploads/2019/05/logo-black.png" srcset="https://ekisan.net/wp-content/uploads/2019/05/logo-black.png 324w, https://ekisan.net/wp-content/uploads/2019/05/logo-black-300x104.png 300w, https://ekisan.net/wp-content/uploads/2019/05/logo-black-145x50.png 145w" width="107"/></a></strong></td>
<td style="width: 18.4948%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>—</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>मसूर</strong></td>
<td style="width: 17.3713%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.982%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 18.4948%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 28px; border-style: solid; border-color: #000000; text-align: center;"><strong>बटला</strong></td>
<td style="width: 17.3713%; height: 28px; border-style: solid; border-color: #000000; text-align: center;"><strong>2255</strong></td>
<td style="width: 17.982%; height: 28px; border-style: solid; border-color: #000000; text-align: center;"><strong>2600</strong></td>
<td style="width: 18.4948%; height: 28px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>मूंग</strong></td>
<td style="width: 17.3713%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>4430</strong></td>
<td style="width: 17.982%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>4430</strong></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 24px;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>तुअर </strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>2255</strong></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>6485</strong></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>उड़द</strong></td>
<td style="width: 17.3713%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>6005</strong></td>
<td style="width: 17.982%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>6005</strong></td>
<td style="width: 18.4948%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>धनिया </strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>मिर्ची </strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>2800</strong></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>17700</strong></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>7000</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>मैथी </strong></td>
<td style="width: 17.3713%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>3000</strong></td>
<td style="width: 17.982%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>3000</strong></td>
<td style="width: 18.4948%; height: 24px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 43px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 43px;"><strong> </strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 43px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 43px;"><strong><a href="https://ekisan.net/wp-content/uploads/2019/05/logo-black.png"><img alt="ekisan" class="alignnone wp-image-387" height="37" loading="lazy" sizes="(max-width: 107px) 100vw, 107px" src="https://ekisan.net/wp-content/uploads/2019/05/logo-black.png" srcset="https://ekisan.net/wp-content/uploads/2019/05/logo-black.png 324w, https://ekisan.net/wp-content/uploads/2019/05/logo-black-300x104.png 300w, https://ekisan.net/wp-content/uploads/2019/05/logo-black-145x50.png 145w" width="107"/></a></strong></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 43px;"><strong>– –</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 29.426%; height: 23px; border-style: solid; border-color: #000000; text-align: center;"><strong>करंजी</strong></td>
<td style="width: 17.3713%; height: 23px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.982%; height: 23px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 18.4948%; height: 23px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>राजमा</strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 23px;">
<td style="width: 29.426%; height: 19px; border-style: solid; border-color: #000000; text-align: center;"><strong>रायडा</strong></td>
<td style="width: 17.3713%; height: 19px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 17.982%; height: 19px; border-style: solid; border-color: #000000; text-align: center;"></td>
<td style="width: 18.4948%; height: 19px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>तिल्ली</strong></td>
<td style="width: 17.3713%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>9000</strong></td>
<td style="width: 17.982%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>14500</strong></td>
<td style="width: 18.4948%; height: 10px; border-style: solid; border-color: #000000; text-align: center;"><strong>–</strong></td>
</tr>
<tr style="height: 24px;">
<td style="width: 29.426%; border-style: solid; border-color: #000000; text-align: center; height: 10px;"><strong>अलसी</strong></td>
<td style="width: 17.3713%; border-style: solid; border-color: #000000; text-align: center; height: 10px;"></td>
<td style="width: 17.982%; border-style: solid; border-color: #000000; text-align: center; height: 10px;"></td>
<td style="width: 18.4948%; border-style: solid; border-color: #000000; text-align: center; height: 10px;"><strong>–</strong></td>
</tr>
</tbody>
</table>{% endblock %}