{% extends 'index.html' %}
     {% block content %}
     <br> <button class="btn btn-primary" onclick="history.back()">Go back!</button><h1>Neemuch Mandi Bhav!</h1> <br><table style="border-collapse: collapse; width: 87.4257%; height: 748px;">
<tbody>
<tr style="height: 24px;">
<td style="width: 10.7262%; background-color: #ff0000; height: 44px; text-align: center; border-style: solid; border-color: #000000;"><strong><span style="color: #ffffff;">फस</span><span style="color: #ffffff;">ल</span></strong></td>
<td style="width: 9.87017%; background-color: #ff0000; height: 44px; text-align: center; border-style: solid; border-color: #000000;"><strong><span style="color: #ffffff;">न्यूनतम</span><span style="color: #ffffff;"> भाव</span></strong></td>
<td style="width: 7.78608%; background-color: #ff0000; height: 44px; text-align: center; border-style: solid; border-color: #000000;"><strong><span style="color: #ffffff;">अधिकतम भाव</span></strong></td>
<td style="width: 9.39527%; background-color: #ff0000; height: 44px; text-align: center; border-style: solid; border-color: #000000;"><strong><span style="color: #ffffff;">मॉडल भाव </span></strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>गेंहॅू</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;" width="127"><strong>1680</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;" width="123"><strong>2136</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;" width="122"><strong>1775</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>मक्का</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>1665</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>1665</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>–</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>उडद</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>4901</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>7034</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>6000</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>चना</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>3800</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>4666</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>4000</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>सोयाबीन</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>5800</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>7250</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>6750</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>रायडा सरसों</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>5200</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>6400</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>6251</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>मूंगफली</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>3710</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>5714</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>4990</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>पोस्ता</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>110000</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>153000</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>133000</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>मैथी</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>5400</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>6950</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>5700</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>अलसी</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>5780</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>6890</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>6400</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>धनिया</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>4100</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>6800</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>5500</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>अजवाईन</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>6002</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>14000</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>11500</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>इसबगोल</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>9950</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>10753</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>10100</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>अश्वगंधा</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>21000</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>40501</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>26000</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>लहसुन</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>3500</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>12500</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>5500</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>जौ</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>1790</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>1814</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>1814</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>मसूर</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>4853</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>4889</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>4869</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>कलौंजी</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>9800</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>19820</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>17000</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>तिल्ली</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>6400</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>7900</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>7100</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>तुलसी बीज</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>7100</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>18262</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>16555</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>प्याज</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>700</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>2186</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>1250</strong></td>
</tr>
<tr>
<td style="width: 10.7262%; text-align: center; border-style: solid; border-color: #000000;" width="115"><strong>चना डालर</strong></td>
<td style="width: 9.87017%; text-align: center; border-style: solid; border-color: #000000;"><strong>7100</strong></td>
<td style="width: 7.78608%; text-align: center; border-style: solid; border-color: #000000;"><strong>7375</strong></td>
<td style="width: 9.39527%; text-align: center; border-style: solid; border-color: #000000;"><strong>6000</strong></td>
</tr>
</tbody>
</table>{% endblock %}